
$eg-default-fonts: sans-serif;
$eg-spacings: 10px;

$eg-color-black: #222;
$eg-color-orange: #fe9;
$eg-color-cyan: #9dd;
$eg-color-brown: #dca;

.eg-placeholder {
  background-color: #eee;
  color: $eg-color-black;
  padding: $eg-spacings;
}

// Atoms
//
// This is the atoms chapter. Atoms are the only parts that contain actual class and style definitions. The higher level abastractions are mere composites of the existing atoms.
//
// Styleguide 1.0

// Person Information Card Atom
// 
// An info card with the name and description of a person.
// 
// .eg-person-info_designer - the person is a designer
// .eg-person-info_developer - the person is a software developer
// default - asdf
//
// markup:
// <div class="eg-person-info {$modifiers}">
//   <div class="eg-person-info__name">Name of the person</div>
//   <div class="eg-person-info__description">
//     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
//     dignissim neque. Suspendisse semper eu metus a congue. Morbi ultrices
//     venenatis eros at placerat. Mauris gravida lacinia justo sit amet
//     sodales.
//   </div>
// </div>
//
// Styleguide 1.1

.eg-person-info {

  font-family: $eg-default-fonts;
  border: thin solid $eg-color-black;

  .eg-person-info__name {
    font-size: 1.2em;
    background-color: $eg-color-orange;
    padding: $eg-spacings;
  }

  .eg-person-info__description {
    padding: $eg-spacings;
  }

  &.eg-person-info_designer {
    .eg-person-info__name {
      background-color:  $eg-color-cyan;
    }
  }

  &.eg-person-info_developer {
    .eg-person-info__name {
      background-color: $eg-color-brown;
    }
  }
}

// Vertical Container Atom
// 
// A container for elements with vertical spacing
//
// markup:
// <div class="eg-vertical-container">
//   <div class="eg-vertical-container__element">
//     <div class="eg-placeholder">placeholder</div>
//   </div>
//   <div class="eg-vertical-container__element">
//     <div class="eg-placeholder">placeholder</div>
//   </div>
// </div>
//
// Styleguide 1.2

.eg-vertical-container {

  .eg-vertical-container__element {

    padding-top: $eg-spacings;

    &:first-child {
      padding-top: 0;
    }
  }
}

// Page Heading
// 
// The main heading on a page.
//
// markup:
// <h1 class="eg-page-heading">Page Heading</h1>
//
// Styleguide 1.3

.eg-page-heading {
  font-family: $eg-default-fonts;
  font-size: 40px;
}

// Text paragraph
// 
// A text paragraph.
//
// markup:
// <p class="eg-paragraph">
//   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius ex
//   pharetra nisl mattis commodo. Duis egestas nec lacus sit amet vestibulum.
//   Phasellus vitae tincidunt mi, quis ornare est. Nam purus magna, gravida a
//   aliquam ac, cursus posuere neque. Suspendisse id dictum sem, ut rutrum
//   nisi.  In hac habitasse platea dictumst. Maecenas aliquet, neque sit amet
//   mollis sagittis, sem nulla placerat tellus, eu blandit lorem nunc a massa.
// </p>
//
// Styleguide 1.4

.eg-paragraph {
  font-family: $eg-default-fonts;
}

// Molecules
//
// This is the molecules chapter.
//
// Styleguide 2.0

// People Listing Molecule
// 
// List of people with information about them.
//
// markup:
// <div class="eg-vertical-container">
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Name of a person</div>
//       <div class="eg-person-info__description">
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
//         dignissim neque. Suspendisse semper eu metus a congue. Morbi ultrices
//         venenatis eros at placerat. Mauris gravida lacinia justo sit amet
//         sodales.
//       </div>
//     </div>
//   </div>
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Name of another person</div>
//       <div class="eg-person-info__description">
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
//         dignissim neque. Suspendisse semper eu metus a congue. Morbi ultrices
//         venenatis eros at placerat. Mauris gravida lacinia justo sit amet
//         sodales.
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.1


// Organisms
//
// This is the organisms chapter.
//
// Styleguide 3.0

// Page Header Organism
//
// The header at the top of each page
//
// markup:
// <h1 class="eg-page-heading">Page Title</h1>
// <p class="eg-paragraph">Explanation of the purpose of the page.</p>
//
// Styleguide 3.1

// Templates
//
// This is the page templates chapter.
//
// Styleguide 4.0

// People Listing Page Template
// 
// Template for pages that list people.
//
// markup:
// <h1 class="eg-page-heading">Person Page Title</h1>
// <p class="eg-paragraph">Explanation of the purpose of this person listing.</p>
// <div class="eg-vertical-container">
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Name of a person</div>
//       <div class="eg-person-info__description">
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
//         dignissim neque. Suspendisse semper eu metus a congue. Morbi ultrices
//         venenatis eros at placerat. Mauris gravida lacinia justo sit amet
//         sodales.
//       </div>
//     </div>
//   </div>
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Name of another person</div>
//       <div class="eg-person-info__description">
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
//         dignissim neque. Suspendisse semper eu metus a congue. Morbi ultrices
//         venenatis eros at placerat. Mauris gravida lacinia justo sit amet
//         sodales.
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1

// Pages
//
// This is the pages chapter.
//
// Styleguide 5.0

// Biography Page
// 
// Biography page displays stories of some developers who participated in the project.
//
// markup:
// <h1 class="eg-page-heading">Biographies</h1>
// <p class="eg-paragraph">Below are stories of the different people involved in the development of the project.</p>
// <div class="eg-vertical-container">
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info eg-person-info_developer">
//       <div class="eg-person-info__name">Alice Smith</div>
//       <div class="eg-person-info__description">
//         Alice Smith is a web developer with ten years of experience in
//         modern web technologies. She used to write HTML5 before it was
//         cool and is famous for her ability to write javacsript code using
//         nothing but a soldering iron and two paper clips.
//       </div>
//     </div>
//   </div>
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info eg-person-info_designer">
//       <div class="eg-person-info__name">Bob Johnsson</div>
//       <div class="eg-person-info__description">
//         Bob Johnsson is a designer with a nice haircut and lots of experience
//         in user experience and service design.
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.1

// Contact Person Page
// 
// Contact person page lists people who can be contacted in different matters.
//
// markup:
// <h1 class="eg-page-heading">Contact Persons</h1>
// <p class="eg-paragraph">Below are people who should be contacted in different matters.</p>
// <div class="eg-vertical-container">
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Clara Williams</div>
//       <div class="eg-person-info__description">
//         Clara Williams is the CEO of Software Company limited and should be
//         contacted in case of important matters.
//       </div>
//     </div>
//   </div>
//   <div class="eg-vertical-container__element">
//     <div class="eg-person-info">
//       <div class="eg-person-info__name">Daniel Brown</div>
//       <div class="eg-person-info__description">
//         Daniel Brown is the sales manager of the Software Company and should
//         be contacted with business requests.
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.2

