
// Variables
//
// This file contains variables that are used to normalize the values used in
// atom style definitions.

$eg-default-fonts: sans-serif;
$eg-spacings: 10px;

// Color palette

$eg-color-black: #222;
$eg-color-orange: #fe9;
$eg-color-cyan: #9dd;
$eg-color-brown: #dca;
